header {
  background-color: $blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-text {

    h1, p {
      margin: 0 auto;
      color: white;
    }

    h1 {
      font-family: $oswald;
      text-transform: uppercase;
      text-align: center;
      font-size: 10vh;
      @include desktop {
        font-size: 30vh;
      }
    }

    p {
      font-family: $merriweather;
      width: 90%;
      line-height: 2;
      -webkit-font-smoothing: antialiased;
      @include desktop {
        width: 50rem;
        text-align: center;
      }
    }
  }

  .submit-wrapper {

    button#get-started {
      color: $blue;
      background-color: white;
      @include btn;
    }
  }

}