header {
  background-color: $blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .social-icons {
    position: absolute;
    top: 1rem;
    right: 1rem;

    .icon-social-facebook {
      color: $white;
      font-size: 2rem
    }

    .icon-social-twitter {
      color: $white;
      font-size: 2rem
    }

  }

  .hero-text {

    h1, p {
      margin: 0 auto;
      color: white;
    }

    h1 {
      font-family: $oswald;
      text-transform: uppercase;
      text-align: center;
      font-size: 10vh;
      text-shadow: 2px 2px 0 $dark-periwinkle;
      @include desktop {
        font-size: 30vh;
        text-shadow: 5px 5px 0 $dark-periwinkle;
      }
    }

    p {
      font-family: $merriweather;
      width: 90%;
      line-height: 2;
      -webkit-font-smoothing: antialiased;
      @include desktop {
        width: 50rem;
        text-align: center;
      }
    }
  }

  .submit-wrapper {

    button#get-started {
      @include btn($blue, $white)
    }
  }

}