body {
  background-color: $periwinkle;
  margin: 0;
}

.quiz-text {
  padding: 3rem 3rem 1rem 3rem;
  width: 63vw;
  margin: 0 auto;

  p {
    position: relative;
    z-index: 0;
    background-color: white;
    max-width: calc(100% - 2rem);
    font-family: $merriweather;
    line-height: 2.1;
    font-size: 1rem;
    padding: 1rem;
    @include desktop {
      padding: 3rem 3rem 0;
      font-size: 1.1rem;
      margin: 0 auto;
    }

    &:last-of-type {
      padding-bottom: 3rem;
    }

    span.answer {
      border-bottom: solid 1px currentColor;
      @include desktop {
        border-bottom: solid 2px currentColor;
      }
    }

    &:after {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 7px;
      left: 7px;
      right: -7px;
      bottom: -7px;
      border-right: 7px solid $blue;
      border-bottom: 7px solid $blue;
    }
  }

  select {
    font-size: 1rem;
    font-family: $merriweather;
    border: none;
    font-weight: 700;
    background-color: transparent;
    @include desktop {
      font-size: 1.1rem;
    }
  }

  select:focus {
    border: 0;
    outline: none;
  }
}

.submit-wrapper {

  button#quiz-submit {
    background: $blue;
    color: white;
    @include btn;
  }
}