<<<<<<< HEAD
$merriweather: 'Merriweather', serif;
$oswald: 'Oswald', sans-serif;

$desktop-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.hero-text {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1, p {
    margin: 0 auto;
  }

  h1 {
    font-family: $oswald;
    text-transform: uppercase;
    text-align: center;
    font-size: 10vh;
    @include desktop {
      font-size: 20vh;
    }
  }

  p {
    font-family: $merriweather;
    width: 90%;
    line-height: 2;
    @include desktop {
      width: 50rem;
    }
  }

}

.quiz-text {

  p {
    font-family: $merriweather;
    line-height: 2;
    padding-top: 3rem;
=======
.quiz-text {

  p {
    max-width: 90%;
    font-family: $merriweather;
    line-height: 2;
    padding-top: 3rem;
    font-size: 1rem;
>>>>>>> 3ac2d3297d0461278e5f6088a7cb20f383a88958
    @include desktop {
      font-size: 2rem;
      margin: 0 auto;
      width: 63vw;
    }

    span.answer {
<<<<<<< HEAD
      border: solid 3px currentColor;
      padding: 2px 0px 1px 4px;
      font-size: 26px;
      border-radius: 6px;
      margin-right: 5px;
=======
      border-bottom: solid 3px currentColor;
      background-color: transparent;
      transition: background-color 0.5s linear;
>>>>>>> 3ac2d3297d0461278e5f6088a7cb20f383a88958
    }
  }

  select {
<<<<<<< HEAD
    font-family: $merriweather;
    border: none;
    font-size: 21px;
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-appearance: menulist-text;
=======
    font-size: 1rem;
    font-family: $merriweather;
    border: none;
    font-weight: 700;
    background-color: transparent;
    @include desktop {
      font-size: 2rem;
    }
>>>>>>> 3ac2d3297d0461278e5f6088a7cb20f383a88958
  }

  select:focus {
    border: 0;
    outline: none;
  }
}