$rtv_grey_light: #e7e7e7;
$rtv_white: #f7f7f7;
$periwinkle: #dfddf1;
$blue: #001ee1;
$mid-blue: #0033ff;
$blue-shadow: #7b81ef;
$merriweather: 'Merriweather', serif;
$oswald: 'Oswald', sans-serif;

$desktop-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body{
    font-size: 16px;
}