$rtv_grey_light: #e7e7e7;
$rtv_white: #f7f7f7;
$periwinkle: #dfddf1;
$blue: #001ee1;
$merriweather: 'Merriweather', serif;
$oswald: 'Oswald', sans-serif;

$desktop-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin btn {
  margin: 2rem auto;
  display: block;
  padding: 10px 2rem;
  text-transform: uppercase;
  font-family: $oswald;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
}